
<div class="collapse navbar-collapse" id="nav-main">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <f:for each="{navMain}" as="navItem">
            <f:if condition="!{navItem.children}">
                <f:then>
                    <li class="nav-item">
                        <f:link.page pageUid="{navItem.data.uid}" class="nav-link {f:if(condition:navItem.active,then:'active')}" aria="{f:if(condition:navItem.active, then: '{current:\'page\'}')}">{navItem.title}</f:link.page>
                    </li>
                </f:then>
                <f:else>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link {f:if(condition:navItem.active,then:'active')} dropdown-toggle" aria-current="{f:if(condition:navItem.active, then: 'page')}" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">{navItem.title}</a>
                        <f:if condition="{navItem.children}">
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <f:for each="{navItem.children}" as="childItem">
                                    <li>
                                        <f:link.page pageUid="{childItem.data.uid}" class="dropdown-item {f:if(condition:childItem.active,then:'active')}">{childItem.title}</f:link.page>
                                    </li>
                                </f:for>
                            </ul>
                        </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</div>