<nav class="navbar navbar-expand-lg bg-light gf-navbar-secondary" data-bs-theme="light"
    aria-label="Fifth navbar example">
    <div class="container-fluid">
        <f:link.page pageUid="{site.configuration.rootPageId}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <f:render partial="Logo" arguments="{addressesMain:addressesMain}" />
            <span class="fs-4">{site.configuration.websiteTitle}</span>
        </f:link.page>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-main"
            aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <f:render partial="NavMain" arguments="{navMain:navMain}" />
    </div>
</nav>