
<div class="collapse navbar-collapse" id="nav-main">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <f:for each="{navMain}" as="navItem">
            <li class="nav-item">
                <f:link.page pageUid="{navItem.data.uid}" class="nav-link {f:if(condition:navItem.active,then:'active')}" aria="{f:if(condition:navItem.active, then: '{current:\'page\'}')}">{navItem.title}</f:link.page>
            </li>
        </f:for>

        <f:comment>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </li>
        </f:comment>
    </ul>
</div>