<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <div id="c{data.uid}"
        class="frame ctype-{data.CType} frame-layout-{data.layout} {f:if(condition:data.space_before_class,then:data.space_before_class,else:settings.space_before_class)} {f:if(condition:data.space_after_class,then:data.space_after_class,else:settings.space_after_class)}">
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:render partial="Header/All" arguments="{_all}" />
        
        <f:format.html>{data.bodytext}</f:format.html>
    </div>
</html>